.card-box{
    padding:20px;
    height:360px;
    width:250px;
    border:1px solid black;
}
.playerimage{
    height:300px;
    width:250px;
}
.text-justify{
    display:flex;
    justify-content: space-between;
    font-size:14px;
}